CompileFlags:
  Add: [-Wunused-variable, -Wunused-parameter, -Wlogical-not-parentheses, -Wparentheses-equality, -Wdangling-else]

Completion:
  Detailed: true
  Filter: true
  Include:
    FixIts: true

Diagnostics:
  UnusedIncludes: Strict

Index:
  Background: Build
  AllScopesCompletion: true
  Comments: true

InlayHints:
  Enabled: true
  ParameterNames: true
  TypeHints: true

Tweak:
  Enable: true
