CompileFlags:
  Add: [-Wunused-variable, -Wunused-parameter, -Wlogical-not-parentheses, -Wparentheses-equality, -Wdangling-else]

Completion:
  AllScopes: Yes

Diagnostics:
  UnusedIncludes: Strict
  MissingIncludes: Strict

Index:
  Background: Build

InlayHints:
  Enabled: Yes
  ParameterNames: Yes
  DeducedTypes: Yes
