---
Checks: >-
  -*,
  performance-*,
  cppcoreguidelines-*,
  bugprone-*,
  clang-analyzer-*,
  modernize-*,
  readability-*,

  # Enabled checks
  misc-include-cleaner,
  misc-header-include-cycle,
  misc-redundant-expression,    

  # Disabled checks
  -cppcoreguidelines-non-private-member-variables-in-classes,
  -cppcoreguidelines-avoid-non-const-global-variables,
  -cppcoreguidelines-owning-memory,
  -cppcoreguidelines-pro-type-vararg,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-avoid-magic-numbers,

  -bugprone-easily-swappable-parameters,

  -modernize-avoid-c-arrays,
  -modernize-use-auto,
  -modernize-use-trailing-return-type,
  -modernize-use-nodiscard,

  -performance-avoid-endl,

  -readability-braces-around-statements,
  -readability-function-cognitive-complexity,
  -readability-uppercase-literal-suffix,
  -readability-identifier-length,
  -readability-implicit-bool-conversion,
  -readability-magic-numbers,
  -readability-isolate-declaration,
...
