CompileFlags:
  Add: [-Wall -Wextra -Wpedantic -Wconversion -Wsign-conversion -Wshadow]

Completion:
  AllScopes: Yes

Diagnostics:
  UnusedIncludes: Strict
  MissingIncludes: Strict

Index:
  Background: Build

InlayHints:
  Enabled: Yes
  ParameterNames: Yes
  DeducedTypes: Yes
